* {
  box-sizing: border-box;
  // color: rgba(0, 145, 255, 0.845);
}

html {
  background: url("../assets/vintage-lines-vert.jpg");
  background-position: center;
  // background-repeat: no-repeat;
  // position: fixed;
  background-size: cover;
  height: 100%;
  margin: 0;
  padding: 0;  
}

h1 {
  // font-family: Bookman, Copperplate, Copperplate Gothic Light;
  font-size: 40px;
  color: rgba(0, 145, 255, 0.845);
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  margin: 0;
  flex-wrap: wrap;  
}

h2 {
  font-size: 18px;
  color: rgba(0, 145, 255, 0.845);
  text-align: center;
  line-height: 0px;  
  margin-bottom: 10px;
  margin: 0px;
  flex-wrap: wrap;
}

h3 {
  font-size: 18px;
  color: rgba(0, 145, 255, 0.845);
  margin: 0;
  line-height: 0px; 
  flex-wrap: wrap;
}

h4, h5 {
  text-align: center;
  color: rgba(0, 145, 255, 0.845);
}

.images {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.images a {
  max-width: 170px;
}

p {
  font-size: 24px;
}


.pageContainer {
  height: 100vh;
  max-height: 100vh;
  display: grid;
  overflow-x: hidden;
  
  grid-template-columns: 1fr 3fr;
  grid-template-rows: min-content auto auto min-content;
  grid-template-areas: "header  header"
  "content  content"                     
  "footer  footer";
}
// remove <hr> rule before production
hr {
  border: none;
  height: 20px;
  color: #333; /* old IE */
  background-color: rgb(255, 113, 37);
  width: 1000%;
  margin-left: -500%; 
  padding: 0;
}


