* {
  box-sizing: border-box;
  
}
h4 {
  display: flex;
  flex-direction: column;
  text-align: center
}

#about-section {
  background-color: black;
  padding: 20px;
  // padding-right: 10px;
  // padding-left: 10px;
}

p {
  font-size: 12pt;
}

.about {
  // padding: 20px;
}
