* {
  box-sizing: border-box;
}

.aboutSectionWrapper {
  display: flex;
  justify-content: center;
}

h6 {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  text-align: center;
  text-align: center;
  font-family: 'Oswald', 'Times New Roman', Times, serif;
  font-style:  italic;
  font-weight: bolder;
  color: rgb(179, 205, 50);
}

.about-section {
  background-color: rgba(43, 0, 43, 0.8);
  border-radius: 45px;
  overflow: auto;
  max-width: 80%;
  padding-top: 0px;
  padding-bottom: 20vw;
  margin-top: 50px;
  margin-bottom: 30px;
  z-index: 1;
}

p {
  // font-family: Bookman, Copperplate, Copperplate Gothic Light;
  font-size: 13pt;
  color:   #54b4fd;
  font-style:  italic;
  line-height: 25px;
  margin-left: 55px;
  margin-right: 55px;
}

@media only screen and (min-width: 768px) {

  .about-section {
    padding-bottom: 10vw;
    max-width: 70%;
    padding-bottom: 5vw;
  }

  p {
    margin-left: 55px;
    margin-right: 55px;
  }
}
