* {
  box-sizing: border-box;
}

h4 {
  display: flex;
  flex-direction: column;
  text-align: center
}

#about-section {
  // background-color: black;
  // padding: 20px;
  // padding-right: 10px;
  // margin-left: 10px;
}

p {
  font-size: 12pt;
  color: rgb(84, 180, 253); 
  margin-left: 30px;
  margin-right: 30px;
}


.about {
  // padding: 20px;
}

@media only screen and (min-width: 768px) {
  p {
    font-size: 12pt;
    color: rgb(84, 180, 253); 
    margin-left: 150px;
    margin-right: 150px;
  }
  
}
