
* {
  box-sizing: border-box;
}

.headerContainer {
  // display: flex;
  display: block;
  // justify-content: center;
  // border-style: solid;
  // border-color: lime;
  // border-width: 1px;
}

h1 {
  font-family: 'Candal', Bookman, Copperplate, Copperplate Gothic Light;
  // font-family: 'Monoton', cursive;
  // font-family: Bookman, Copperplate, Copperplate Gothic Light;
  font-size: 44px;
  -webkit-text-stroke: .5px black;
  font-style: italic;

  text-shadow: -4px 2px 0px rgb(179, 205, 50);

  color: rgb(84, 180, 253);
  text-align: center;
  margin: 0;
}

.headerOne {
  padding-top: 20px;
}


h2 {
  margin: -10px;
  position: relative;
}

.headerTwo {
  font-family: 'Mr Dafoe', cursive;
  color: rgb(179, 205, 50);
  font-size: 25px;
  margin-left: 59vw;
  margin-top: -6.2vw;
  line-height: 0px;
  transform:rotate(-15deg);
  // -webkit-text-stroke: .1px white;

}

#headerPair {
  // border-style: solid;
  // border-color: white;
  // border-width: 1px;
}

h3 {
  display: block;
  text-align: center;
  font-size: 15px;
  color: rgb(84, 180, 253);
  margin: 0;
  line-height: 0px; 
}

.headerThree {
  padding-top: 20px;
  // border-style: solid;
  // border-color: lime;
  // border-width: 1px;
}


@media only screen and (min-width: 700px) {
  * {
    box-sizing: border-box;
  }

  .headerTwo {
    font-family: 'Mr Dafoe', cursive;
    color: rgb(179, 205, 50);
    font-size: 24px;
    margin-left: 59vw;
    margin-top: -45px;
    line-height: 0px;
    transform:rotate(-15deg);
  }
}
