
* {
  box-sizing: border-box;
}

.headerContainer {
  display: flex;
  justify-content: center;
  // border-style: solid;
  // border-color: lime;
  // border-width: 1px;
}

h1 {
  font-family: Bookman, Copperplate, Copperplate Gothic Light;
  font-size: 40px;
  color: rgb(84, 180, 253);
  text-align: center;
  // padding-top: 10px;
  // line-height: 0px;
  margin: 0;
  // border-style: solid;
  // border-color: red;
  // border-width: 1px;
}

.headerOne {
  padding-top: 20px;
}

h2 {
  font-size: 15px;
  color: rgb(84, 180, 253);
  line-height: 0px;
  margin: 0px;
  padding-top: 10px;
}

h3 {
  font-size: 15px;
  color: rgb(84, 180, 253);
  margin: 0;
  line-height: 0px; 
}
