* {
  box-sizing: border-box; 
}

.images {
  display: flex;
  justify-content: center;
  // height: 300px;
}

a {
  display: block;
  margin: 10px;
  height: 100px;
  border-radius: 100%;
  // border-style: solid;
  // border-color: lime;
  // border-width: 1px;
}

img {
  // padding: 10px;
  // height: 100%;
  // width: 100%;
  border-radius: 100%;

  border-style: solid;
  border-color: indianred;
  border-width: 1px;

}

@media only screen and (min-width: 768px) {

  * {
    box-sizing: border-box; 
  }

  a {
    height: 300px;
  }
}
