* {
  box-sizing: border-box; 
}
img {
  // float: left;
  // align-content: center;
  width: 33.33%;
  padding: 5px; 
  padding: 60px;
  // max-width: 170px;
  // max-height: auto;
  // min-height: 100px;
  // max-width: 200px, auto;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    justify-content: space-evenly;
    width: 33.33%;
    padding: 5px; 
    padding: 30px;
    max-width: 170px;
    max-height: auto;
  }  
}


