* {
  box-sizing: border-box; 
}

@keyframes MoveUpDown {
	0%, 100% {
    bottom: 0;
	}
	50% {
    bottom: 50px;
	}
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}


.images {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
}

.imageLinks {
  background-image: linear-gradient(0deg, rgb(188, 250, 227), #28354e);
  margin: 10px;
  margin-top: 50px;
  position: relative;
  border-radius: 100%;
  border-style: double;
  border-color: rgb(84, 201, 243);  
  border-width: 1px;
  height: 21vw;
  max-height: 200px;
  
  &:before, &:after {
    content: '';
    position: absolute;
    border-radius: 100%;
    left: -2px;
    top: -2px;
    opacity: 0;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
      #0000ff, #00ff00,#ffff00, #ff0000);
      background-size: 400%;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      filter: blur(50px);
    z-index: -1;
    transition: opacity 2.2s ease-out;      
    animation: steam 80s linear infinite;
  }  
  
  &:hover {
    animation: none;
    &:before {
      opacity: 1;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.content .contentOverlay {
  background: rgba(0,0,0,0.8);
  position: absolute;
  height: 110%;
  width: 110%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.9s ease-in-out 0s;
}

.content:hover .contentOverlay {
  opacity: 1;
}

.overlayDetails {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.8s ease-in-out 0s;
}

.content:hover .overlayDetails{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.overlayDetails h6 {
  font-family: Bookman, Copperplate, Copperplate Gothic Light;
  letter-spacing: 0.15em;
  font-size: 9px;
  font-weight: 100;
  padding-top: 10px;
  margin: 0;
}

.overlayList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 5px;
}

.overlayList li {
  font-family: 'Open Sans';
  font-size: 10px;
  list-style-type: disc;
  text-indent: -8px;
}

 li {
   margin-right: 20px;
 }

#link1 {
  animation: MoveUpDown 11.5s infinite ease-in-out;
  &:hover {
    animation-play-state: paused;
  }
}

#link2 {
  animation: MoveUpDown 12.8s infinite ease-in-out;
  &:hover {
    animation-play-state: paused;
  }
}

#link3 {
  animation: MoveUpDown 12.3s infinite ease-in-out;
  &:hover {
    animation-play-state: paused;
  }
}

.portfolioImages {
  border-radius: 100%;
  height: 21vw;
  border-style: double;
  border-color: rgb(10, 250, 126);
  border-width: 1px;
  background-color: rgba(43, 0, 43, 0.2);
  box-shadow: 20px 80px 60px -25px rgb(43, 32, 48);

}

@media only screen and (min-width: 768px) {
  * {
    box-sizing: border-box; 
  }

  .images {
    padding-bottom: 70px;
  }
  
  .portfolioImages {
    height: 21vw;
    max-height: 200px;
  }
}

@media only screen and (min-width: 1270px) {
  
  .portfolioImages {
    height: 18vw;
    max-height: 200px;
  }
}
