* {
  box-sizing: border-box; 
}

.images {
  display: flex;
  justify-content: space-around;
  margin-left: 200px;
  margin-right: 200px;
}

img {
  padding: 60px;
  max-width: 200px;
}

@media (min-width: 768px) {

  
  * {
    box-sizing: border-box; 
  }

  .images {
    display: flex;
    justify-content: space-around;
    margin-left: 200px;
    margin-right: 200px;
  }
  
  img {
    padding: 60px;
    max-width: 200px;
  }
}
