* {
  box-sizing: border-box; 
}

@media (min-width: 768px) {

  
  * {
    box-sizing: border-box; 
  }

  .images {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    border-color: orange;
    border-width: 1px;
  }
  
  img {
    // float: left;
    // align-content: center;
    // width: 33.33%;
    border-style: solid;
    border-color: yellowgreen;
    border-width: 1px;

    padding: 60px;
    max-width: 200px;
    // max-height: auto;
    // min-height: 100px;
    // max-width: 200px, auto;
  }
}
