* {
  box-sizing: border-box; 
}

a {
  margin: 10px;
}

.images {
  display: flex;
  justify-content: center;
  padding-top: 80px;
}

@keyframes steam {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.imageLinks {
  // display: block;
  position: relative;
  border-radius: 100%;
  border-width: 1px;
  height: 20vw;
  // width: 400px;
  border-style: solid;
  background-color: rgba(43, 0, 43, 0.2);
  
  &:hover {
    background: linear-gradient(0deg, #000, #272727);
    &:before, &:after {
      content: '';
      position: absolute;
      border-radius: 100%;
      left: -2px;
      top: -2px;
      background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
        #0000ff, #00ff00,#ffff00, #ff0000);
      background-size: 400%;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      z-index: -1;
      animation: steam 30s linear infinite;
    }  
  }
}

.imageLinks:after {
	filter: blur(50px);
}

img {
  border-radius: 100%;
  height: 20vw;
  
  border-style: solid;
  border-color: indianred;
  border-width: 2px;
}

@media only screen and (min-width: 480px) {
}

@media only screen and (min-width: 768px) {
  * {
    box-sizing: border-box; 
  }

  .images {
    padding-bottom: 70px;
  }
}

@media only screen and (min-width: 1270px) {

}
