* {
    box-sizing: border-box;    
}

h4 {
  color: orange;
}

.portfolioContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-left: hidden;
  border-right: hidden;
  border-bottom: hidden;
}
