* {
    box-sizing: border-box;    
}

.portfolioContainer {
  display: flex;
  justify-content: center;
  
  border-style: solid;
  border-color: rgb(255, 217, 0);
  // border-width: 1px;
}

@media only screen and (min-width: 768px) {

  .portfolioContainer {
    display: flex;

    border-style: solid;
    // border-color: red;
    // border-width: 1px;
  }

}
