* {
    box-sizing: border-box;    
}

h4 {
  color: rgb(179, 205, 50);
  font-style: italic;
  padding-top: 30px;
  font-size: 18px;
}

.portfolioContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-left: hidden;
  border-right: hidden;
  border-bottom: hidden;
}
