* {
  box-sizing: border-box;
}

h5 {
    color: rgb(84, 180, 253);
  }
  
section {
  font-family: Bookman, Copperplate, Copperplate Gothic Light;
  display: flex;
  // flex-direction: column;
  justify-content: center;
  flex-wrap: wrap; 
}

span {
  display: inline-block;
  // justify-content: space-around;
  text-align: center;
  padding: 8px;
  // display: flex;
  color: rgb(84, 180, 253); 

  // padding: 70px;
  // padding-bottom: 5px;
  font-size: 12px;

  border-style: solid;
  // border-color: red;
  border-width: 1px;
}

@media only screen and (min-width: 768px) {
  
  section {
    font-family: Bookman, Copperplate, Copperplate Gothic Light;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; 
  }

  .skillsContainer {
    display: flex;
    justify-content: space-evenly;
    margin-left: 200px;
    margin-right: 200px;
    border-style: solid;
    border-color: rgb(63, 205, 50);
    border-width: 1px;
    padding-bottom: 40px;
  }
}
