
// USE translate3d or scale3d for all transformations!!! ...so GPU handles transformations.
// translate3d() is a property of transform.
* {
  box-sizing: border-box;
}

@keyframes rot {
	from {
		transform: rotate(0deg)
		           translate3d(-3px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate3d(-3px) 
		           rotate(-360deg);
	}
}

section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

a {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.skillsContainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
  padding-bottom: 40px;
}

.skills {
  display: flex;
  position: relative;
  text-align: center;
  font-size: 16px;
  border-radius: 10%;
  margin: 2px;
  border-style: solid;
  border-color: rgb(179, 205, 50);
  border-width: 1px;
  background-color: rgb(43, 0, 43);
  transition: all 1.2s ease-in-out; 

  &:hover {
    z-index: 10;
    border-style: none;
    background-color: rgba(244, 245, 219, 0.25);
    border: none;
    box-shadow: 0 0 30px #9ecaed; 

  }
  &:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 30px rgb(250, 243, 46);   
  }
}

.skillWrapper {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.skillWrapper:hover {
  border-color: #9ecaed;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.embedWindow {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 150px;
  height: 100px;
  margin-right: 100vw;
  box-shadow: 0 0 30px #010c14;
  &:before, &:after {
    content: '';
    position: absolute;
    opacity: 0;
    transition: opacity 2.2s ease-in-out;
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  } 

}

embed {
  width: inherit;
  height: inherit;
  border: solid;
  border-radius: 10px;
  border-width: 1px;
  border-radius: inherit;
  border-color: rgb(10, 250, 166);}

a {
  color: rgb(84, 180, 253);
  display: block;
  border-width: fill;
  border-radius: 10px;

  &:hover {
    color: rgb(84, 180, 253);
  }
}

a:hover + .preview, .preview:hover {
  display: block;
  width: 100%;
  border-radius: 10px;
  z-index: 100;
}


@media only screen and (min-width: 746px) {
  * {
    box-sizing: border-box;
  }

  h5 {
    font-family: Bookman, Copperplate, Copperplate Gothic Light;
    text-align: center;
    font-size: 16px;
  }

  section {
    font-family: Bookman, Copperplate, Copperplate Gothic Light;
    display: block;
    flex-wrap: wrap;
  }

  .skillsContainer {
    display: flex;
    justify-content: space-evenly;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 50px;
    padding-bottom: 40px;
  }
}
