* {
  box-sizing: border-box;
}

section {
  font-family: Bookman, Copperplate, Copperplate Gothic Light;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
}

h5 {
    color: rgb(84, 214, 253);
    font-size: 18px;
    text-align: center;
    // padding-top: 0px;
}

span {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  border-radius: 10%;
  padding: 5px;
  color: rgb(84, 180, 253); 
  border-style: solid;
  border-color: rgb(202, 205, 50);
  border-width: 1px;
  background-color: rgb(43, 0, 43);
  &:hover {
    z-index: 10;
    background: rgb(234, 236, 69);
  }
}

.skillsContainer {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (min-width: 746px) {
  * {
    box-sizing: border-box;
  }

  h5 {
    font-family: Bookman, Copperplate, Copperplate Gothic Light;
    text-align: center;
    font-size: 16px;
  }

  section {
    font-family: Bookman, Copperplate, Copperplate Gothic Light;
    display: block;
    justify-content: center;
    flex-wrap: wrap;
  }

  .skillsContainer {
    display: flex;
    justify-content: space-evenly;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 30px;
  }
}
