* {
  box-sizing: border-box; 
  color: rgb(0, 145, 255);
}

div {
  grid-column: 1;
  grid-row: 2;
  // background-color: #F0F0F2;
  // padding: 5px 10px;
}

.skills {
  // font-family: Bookman, Copperplate, Copperplate Gothic Light;
  // flex-wrap: wrap; 
  display: flex;
  justify-content: space-evenly;
  align-content: space-around;
  color: rgb(0, 145, 255);
  // text-align: left;
}

span {
  display: inline-block;
  padding: 20px;
  font-size: 12px;
}

