* {
  box-sizing: border-box;
}

section {
  // font-family: Bookman, Copperplate, Copperplate Gothic Light;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

h5 {
    color: rgb(84, 214, 253);
    font-size: 18px;
    text-align: center;
}

a {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.skillsContainer {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 40px;
}

.skills {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  border-radius: 10%;
  padding: 5px;
  margin: 0px;
  border-style: solid;
  border-color: rgb(202, 205, 50);
  border-width: 2px;
  background-color: rgb(43, 0, 43);
  &:hover {
    display: flex;
    justify-content: center;
    z-index: 10;
    // width: 100vw;
    background-color: rgba(244, 245, 219, 0.25);
    outline: none;
    border: none;
    border-width: 2px;
    border-color: rgb(250, 243, 46);
    box-shadow: 0 0 30px #9ecaed; 
  }
  &:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 30px rgb(250, 243, 46);   
  }
}

.skillWrapper {
  display: inline-block;
  // background-color: rgba(244, 245, 219, 0.2);
  // outline: none;
  // padding: 5px;
  width: 100%;
  height: 100%;
}
.skillWrapper:hover {
  // display: inline-block;
  // background-color: rgba(244, 245, 219, 0.2);

  // outline: none;
  // border: solid;
  border-color: #9ecaed;
  // box-shadow: 0 0 30px #9ecaed; 
  // margin: 0px;
  // padding: 5px;
  width: 100%;
  height: 100%;
}

.agile .node {
  display: block;
  height: 100%;
  width: 100%;
  color: rgb(84, 180, 253);
  border: solid;
  border-color: red;
  &:hover {
    display: block;
    width: 100vw;
    color: rgb(84, 180, 253);  
  }
}

.preview {
  display: none; 
  text-align: center;
  align-content: center;
  width: 100vh;
  
  // border-style: solid;
  // border-color: yellow;
}

#screenshot{
	// position:absolute;
	// border:1px solid #ccc;
	// background:#333;
	// padding:5px;
	// display:none;
	// color:#fff;
  }
  
embed {
  display: block;
  padding-left: 20vw;
  padding-right: 20vw;
  width: 100vw;

  border: none;
  // border-color: pink;
}

a {
  color: rgb(84, 180, 253);
  display: block;
  // height: 20vw;
  // border-style: solid;
  // border-color: orange;
  border-width: fill;

  // border-style: solid;
  // border-color: green;
  &:hover {
    border:solid;
    color: rgb(84, 180, 253);
  }
}

a:hover + .preview, .preview:hover {
  display: block;
  width: 100%;
  // color: rgb(202, 205, 50);  
  z-index: 100;
}

.glowingBorder {
  // border: 2px solid  rgb(202, 205, 50);
  // border-radius: 7px;
}

.glowingBorder:focus { 
  // outline: none;
  // border-color: #9ecaed;
  // box-shadow: 0 0 30px #9ecaed;
}

@media only screen and (min-width: 746px) {
  * {
    box-sizing: border-box;
  }

  h5 {
    font-family: Bookman, Copperplate, Copperplate Gothic Light;
    text-align: center;
    font-size: 16px;
  }

  section {
    font-family: Bookman, Copperplate, Copperplate Gothic Light;
    display: block;
    flex-wrap: wrap;
  }

  .skillsContainer {
    display: flex;
    justify-content: space-evenly;
    margin-left: 150px;
    margin-right: 150px;
    padding-bottom: 40px;
  }
}
